* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu", sans-serif;
  background: url("/img/back-ground_menu.png");
}

.section,
section {
  min-height: 40vh;
}

h1 {
  font-size: 3rem;
  text-transform: capitalize;
}
h2 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

header {
  min-height: 100vh;
  background-color: #ff00af;
}

/* Slide START */

.background-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff00af;
  background-size: cover;
  background-position: bottom;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slider li {
  list-style: none;
  position: absolute;
}

.slider img {
  min-height: 10vw;
  width: 30vw;
  vertical-align: bottom;
}

.slider input {
  display: none;
}
Label start .slider label {
  background-color: #000;
  bottom: 25px;
  cursor: pointer;
  display: flex;
  height: 10px;
  position: absolute;
  width: 10px;
  z-index: 10;
}

.slider li:nth-child(1) label {
  left: 20px;
}

.slider li:nth-child(2) label {
  left: 50px;
}

.slider li:nth-child(3) label {
  left: 80px;
}

.slider img {
  opacity: 0;
  object-fit: cover;
  margin-top: -10px;
  width: 45vh;
  height: 12vh;
}

.slider li input:checked ~ img {
  opacity: 2;
  visibility: visible;
  z-index: 10;
}
Label end

/* Animais START */

#animais {
  margin: auto;
  margin-top: 7rem;
  max-width: 70vw;
  background-color: none;
  background-size: cover;
  height: 30%;
  background-position: 100% 50%;
}
.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20;
}

.icons img {
  object-fit: cover;
  height: 20rem;
  width: 20rem;

  margin-bottom: 195px;
  margin-left: 180px;
  border-style: solid;
  border-radius: 100%;
  border-color: #ff00af;
  border-width: 13px;
}

.icon {
  background-color: blue;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.icon p {
  text-align: center;
}

/* 2º página Pós-erro */

.background-alimentacao {
  background-color: #ff00af;
  margin-top: 5%;
  height: 10%;
  background-position: 20% 40%;
  opacity: 80%;
}

.titulo {
  margin-left: 42%;
  margin-top: 1vh;
  position: absolute;
}
.descricao {
  background: content-box;
  background-color: #74003e;
}

.descricao ul {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 10%;
  margin-top: 20vh;
}
.descricao ul li {
  font-size: 30px;
  height: 7%;
  padding-left: 10vh;
  margin-top: -10px;
  list-style: none;
  color: white;
}

.descricao ul li a:link {
  text-decoration: none;
}
.descricao ul li a:visited {
  color: gray;
}
.descricao ul li a:hover {
  color: #ff00af;
}

.info-alimentacao {
  border-width: 2px;
  border-style: solid;
  font-size: 30px;
  padding-bottom: 140px;
  border-color: black;
  background-color: bisque;
  width: 80%;
  margin-left: 70px;
  margin-top: -190px;
}

/* Noticias */

.noticias {
  display: flexbox;
  font-size: 30px;
  margin-left: 140vh;
  margin-top: -24vh;
  margin-bottom: 240px;
}

.noticias img {
  margin-left: 70%;
}

.noticias p {
  font-size: 30px;
  margin-left: 70%;
}
