* {
  margin: 0px;
  padding: 0px;
  font-family: "Ubuntu", sans-serif;
}
/* Header */
/* header {
  display: flex;
  height: 50px; */
/* } */
/* #img-Box {
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: center;
  background-color: white;
}
#img-Box img {
  height: 100%;
}
header ul {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 85%;
  list-style-type: none;
}
header ul li {
  font-size: 20px;

  background-color: white;
  width: 17%;
}
header li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 100%;
  width: 100%;
  color: #585858;
}
header li a:hover {
  background-color: #ffb62a;
  color: #ff00af;
  transition: 0.8s;
} */
/* Fim header */

body {
  background-color: #ff00af;
  background-size: 20%;
  background-repeat: no-repeat;
  background-position-x: 30px;
  background-position-y: center;
}

#title {
  display: flex;
  justify-content: center;
  margin: 40px 0px 70px 0px;
  color: #ffb62a;
  font-size: 42px;
}

/* accordion */
a .accordion-All {
  width: 50%;
  margin: auto;
}

.accordion {
  display: flex;
  background-color: #74003e;
  color: white;
  cursor: pointer;
  width: 100%;
  padding: 18px;
  margin: auto;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active,
.accordion:hover {
  color: #ffb62a;
}

.conteudo-accordion {
  padding-left: 30px;
  background-color: #74003e;
  color: white;
  display: none;
  overflow: hidden;
}
.conteudo-accordion:last-child {
  padding-bottom: 20px;
}
