*{
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
    
}
/* Header */
header{
    display: flex;
    height: 50px;
}
#img-Box{
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    background-color: white;
}
#img-Box img{
    height: 100%;
}
header ul{
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 85%;
    list-style-type: none;
}
header ul li{
    font-size: 20px;
    
    background-color: white;
    width: 17%;
}
header li a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 100%;
    width: 100%;
    color: #585858;
}
header li a:hover{
    background-color: #ffb62a;
    color: #ff00af;
    transition: 0.8s;
}
/* Fim header */
body{
    background-color: #ff00af;
}
#title{
    display: flex;
    justify-content: center;
    margin: 40px 0px 70px 0px;
    color: #ffb62a;
    font-size: 42px;
}
.content-Itens{
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}
.content-Img{
    max-width:510px;
    max-height:450px;
}
.content-Img img{
    width: 100%;
    height: auto;
    border: 5px solid white;
    border-radius: 50px;
}
.content-Txt{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
    color: white;
    font-size: 24px;
}
.content-Txt h2{
    margin-bottom: 20px;
    color:#ffb62a
}
#services-Format{
    padding: 50px 0 ;
    background-color: white;
    text-align: end;
}
#services-Format p{
    color: #60495f !important;
}
#services-Format h2{
    color:#ff00af !important;
}
#services-Format img{
    border-color: #ff00af !important;
}
