*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Ubuntu', sans-serif;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    background: white;
    height: 80px;
    width: 100%;
}
label.logo{
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
}
nav ul{
    float: right;
    margin-right: 30px;

}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}
nav ul li a{
    color: black;
    font-size: 17px;
    text-transform: uppercase;
}
.header{
    width: 100%;
    height: 500px;
    margin-top: 0px;
    background-position: center;
    background-image:url(imagens/dogt.png);
    background-size: cover;
}
.titulo{
    width: 100%;
    height: 350px;
    text-align: center;
    background-image:url(imagens/quaserosa.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.titulo h1{
    color: #74003e;
    font-size: 60px;
    padding-top: 30px;
}
.titulo p{
    color: #74003e;
    font-size: 25px;
}
.imagens img{
    width: 300px;
    height: 200px;

}
.service-container{
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    background-image:url(imagens/quaserosa.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.serviços{
    display: inline-block;
    margin: 34%;
    margin-top: 1.5rem;
    padding-top: 15px;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-bottom: 30px;
    text-align: center;
    width: 450px;
    height: 170px;
    background-color: #ff00af;
    border: 3px groove #74003e;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5s;
}
.serviços h2{
    text-align: center;
    color: #fca001;
}
.serviços p{
    padding-top: 5px;
}
label img{
    width: 165px;
    height: 80px;
}
nav ul li a:hover{
    color: #ff00af;
    transition: 0.2s;
}
.serviços:hover{
    transform: scale(1.2);
}
