* {
    padding: 0;
    margin: 0;
  }
  body {
      font-family: "Ubuntu", sans-serif;
      background: url('/img/back-ground_menu.png');
    }
  
                /*Nav-bar Start*/
     .logo{
      margin-top:5px;  
    padding:20px;
     }
  
  
    .nav-bar{
      display: flex; 
      justify-content:space;
      height: 70px;
      margin: 0spx;
      
    }
  
    .nav-bar ul{
        display:flex;
    }
  
    .nav-bar ul li{
        padding: 40px 40px;
        text-decoration: none;
        list-style:none;
      font-size: 22;
    }
    .nav-bar ul li a{
        text-decoration: none;
       
    }
  
             /*click do mouse*/
    .nav-bar ul li a:link{
        text-decoration: none;
    }
    .nav-bar ul li a:visited{
      color: gray;  
    }
     .nav-bar ul li a:hover{
        color: #ff00af;
    }
  
    /*Nav-bar END*/
    .background{
        background-color:#ff00af;
        background-size:cover;
        margin-top:20px;
        height: 10%;
        background-position:20% 50%;
        opacity: 80%;
    }
    
    .titulo{  
        margin-left:40%;
        margin-top:13px;
        position:absolute;
    }
    .descricao{
        background:content-box;
        background-size: cover;
        background-color: #74003e;
        
    }
    .descricao ul{
        display: flex;
        padding-right: 5%;
        margin-top: 70px;
        margin-left:22%;
      
        
    }
    .descricao ul li{
    
        font-size:15px;
        height:7%;
        padding: 30px;
        list-style: none;
        color: white;
    }

    .descricao ul li a:link{
        text-decoration: none;
    }
    .descricao ul li a:visited{
      color: gray;  
    }
     .descricao ul li a:hover{
        color: #ff00af;
    }

    .info-alimentacao{
        border-width: 1px;
        border-style:solid;
        padding-bottom: 140px;
        border-color:black;
        background-color: bisque;
        width: 800px;
        margin-left:140px;
        margin-top:40px;
    }


        /*Noticias*/

    
  .noticias{
    display:flexbox;
    font-size: 10px;
   
    margin-left: 1200px;
    margin-top: -290px;
    margin-bottom: 10px;
    
  }

  .noticias img{
    margin-right:19px;
  }

  .noticias p{
   font-size: 10px;
  }

